body{
  color: white;
  background: url('http://tulupa.s3.amazonaws.com/home/highlight.jpg') no-repeat center fixed;
  background-size: cover;
}

.highlight{
  text-align: center;
  position: fixed;
  top: 25%;
  background-color: rgba(0, 0, 0, 0.16);
}

.about{
  text-align: center;
  position: fixed;
  top: 15%;
  background-color: rgba(0, 0, 0, 0.16);
}

.privacy{
  position: fixed;
  top: 15%;
  bottom: 15%;
  background-color: rgba(0, 0, 0, 0.16);
  overflow: scroll;
}

.footer{
  background-color: transparent;
}

