<div class="row">
  <div class="col-xs-11 col-xs-offset-1 
            col-sm-8  col-sm-offset-2 
            col-md-8  col-md-offset-2 
            col-lg-6  col-lg-offset-3 
            highlight">
  
    <h1>Estude, a qualquer hora.</h1>
    <h4>Os melhores professores das melhores universidades do mundo</h4>
    <h4>Baixe o aplicativo em seu smartphone ou tablet</h4>
    <div class="fb-like pull-right" data-href="http://www.tulupa.com.br" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
</div>
