

  <div class="col-xs-11 col-xs-offset-1 
            col-sm-10  col-sm-offset-1 
            col-md-10  col-md-offset-1 
            col-lg-10  col-lg-offset-1 
            privacy">
  
      <div class="row">
        <h3>Política de Privacidade</h3>
      </div>
      <div class="row">
        <ul>
          <li>
            Ao efetuar seu cadastro no Tulupa, armazenamos o seu endereço de e-mail, endereço ip e os demais dados que foram solicitados no seu cadastro do Tulupa. O acesso aos dados é protegido. As pessoas que tiverem acesso a alguma informação, são obrigadas a manter sigilo de acordo com contrato de confidencialidade assinado em sua contratação.
          </li>
          <li>
            Quando você se cadastra, solicitamos informações tais como seu nome, e-mail, data de nascimento, sexo, dentre outras. Ao se cadastrar no Tulupa e utilizar nossos serviços, você deixa de ser anônimo para nós.
          </li>
          <li>
            O Tulupa não aluga, não vende e não compartilha as informações pessoais com outras pessoas ou com empresas, exceto com objetivo de fornecer a você serviços solicitados, tendo obtido para tanto a sua permissão, ou em circunstâncias específicas como ordem judicial ou advindas de lei.
          </li>
          <li>
            Ao se logar em nossa App, armazenaremos informações em um cookie em seu computador.
          </li>
          <li>
            Você poderá solicitar a remoção de seus dados armazenados a qualquer momento. Para isso, favor enviar um email para <a href="mailto:contato@tulupa.com.br">
              contato@tulupa.com.br
            </a>, explicando o motivo para excluir a conta.
          </li>
          <li>
            O Tulupa poderá eventualmente atualizar esta política sem aviso prévio. As mudanças mais significativas, quando oportuno, poderão ser comunicadas em área de destaque no website ou através de e-mail.
          </li>
          <li>
            Para obter maiores informações entre em contato pelo email
            <a href="mailto:contato@tulupa.com.br">
              contato@tulupa.com.br
            </a>
          </li>
        </ul>
      </div>   

</div>